<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>vistula.edu.pl</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://localhost:44444</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>VERPSWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <ADAppIDUri>https://vistula.edu.pl/WebApp-localhost-44444</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>9e6d19dd-adb5-4fac-bf87-0fd3e1611ad9</ADClientAPPID>
    <ADClientPassword>gN/21H/R81lwwwJdBG74Vhxt++xKygVb8JmrKShDVZQ=</ADClientPassword>
    <ADReplyUrl>https://localhost:44444/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>e8a52afe-6ea8-47f7-b275-783f7087b5fa</ADTenantId>
    <ADPostLogoutRedirectUri>https://localhost:44444/</ADPostLogoutRedirectUri>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VERPSEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=VERPS;Persist Security Info=True;User ID=appUser;Password=123456" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VERPSWeb.VERPSEntities, VERPSWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VERPSEntities2" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VERPSWeb.VERPSEntities2, VERPSWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VERPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/VERPSModel.csdl|res://*/VERPSModel.ssdl|res://*/VERPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=10.10.5.30\SQLEXPRESS;Initial Catalog=VERPS;Persist Security Info=True;User ID=appUser;Password=123456"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VERPSEntities2-Web.config Connection String" />
  </ItemGroup>
</Project>