@{
    ViewBag.Title = "Vistula University Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Akademia Finansów i Biznesu Vistula
    ul. Stokłosy 3, 02-787 Warszawa
    tel. 22 45 72 300, fax. 22 45 72 303 
</address>