@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VERPS</h1>
    <p class="lead">is Vistula ERP System..</p>
    <p><a href="https://10.10.5.30:44444" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <img src="~/Content/Images/BELKA WAWA.jpg" />
        <p><a class="btn btn-default" href="http://www.vistula.edu.pl">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more..</h2>
        <img src="~/Content/Images/BELKA WRO.jpg" />
        <p><a class="btn btn-default" href="http://www.vistula.edu.pl">Learn more &raquo;</a></p>
    </div>

</div>